<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    {{#if addCaptcha}}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    {{/if}}
</head>

<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <!-- {{#if user}} If user is logged in display these-->
                    <li role="presentation"><a href="/dashboard">Dashboard</a></li>
                    <li role="presentation"><a href="/logout">Logout</a></li>
                    <!-- {{else}} otherwise display these -->
                    <li role="presentation"><a href="/login">Login</a></li>
                    <li role="presentation"><a href="/register">Register</a></li>
                    <!-- {{/if}} -->
                </ul>
            </nav>
            <h3 class="text-muted">equalityscale.com</h3>
        </div>
        <!-- These messages are coming in from server -->
        <div class="row">
            <div class="col-lg-12">
                {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>
                {{/if}}

                {{#if error_msg}}
                    <div class="alert alert-danger">{{error_msg}}</div>
                {{/if}}

                {{#if error}}
                    <div class="alert alert-danger">{{error}}</div>
                {{/if}}

                {{{body}}}
            </div>

        </div>

        <footer class="footer">
            <p>&copy; 2017 GenderPayGap</p>
        </footer>

    </div>
</body>

</html>
