<article id="pgConfirm">
    <h1>Welcome! Your email has been confirmed</h1>
    <p>Let us know about a work experience. Required fields are marked with an asterisk*</p>
    <section id="cnForm">
        <form id="formMain" onsubmit="return checkEmail()" action="emailAfter" method="post">
            <div class="fmGp">
                <div class="fmLbl">email:</div>
                <div class="fmInp">
                    {{inpEmail}}
                </div>
            </div>
            <div class="fmGp">
                <div class="fmLbl">Your name:</div>
                <div class="fmInp">
                    <input id="inName" name="inName" type="text" size="25" autofocus >
                </div>
            </div>    
            <div class="fmGp">
                <div class="fmLbl">Your age*:</div>
                <div class="fmInp">
                    <select id="inAgeRange" name="inAgeRange">
                        <option value="">(select)</option>
                        {{#each params.getRngAge}}              {{! interesting you don't reference these by the method, just the name }}
                            <option value="{{@index}}">{{this}}</option>
                        {{/each}}
                    </select>        
                </div>
            </div>
            <div class="fmGp">
                <div class="fmLbl">Your gender*:</div>
                <div class="fmInp">
                    <select id="inGender" name="inGender">
                        <option value="">(select)</option>
                        {{#each params.getRngGender}}
                            <option value="{{@index}}">{{this}}</option>
                        {{/each}}
                    </select>        
                </div>
            </div>
            <div class="fmGp">
                <div class="fmLbl">Employer name*:</div>
                <div class="fmInp">
                    <input id="inEmployer" name="inEmployer" type="text" size="25">
                </div>
            </div>
            <div class="fmGp">
                <div class="fmLbl">Business Location:</div>
                <div class="fmInp">
                    <select id="inState" name="inState">
                        <option value="">(select)</option>
                        {{#each params.getRngStates}}
                            <option value="{{@key}}">{{this}}</option>
                        {{/each}}
                    </select>        
                </div>
            </div>
            <div class="fmGp">
                <div class="fmLbl">Work Duration*:</div>
                <div class="fmInp">
                    <select id="inDuration" name="inDuration">
                        <option value="">(select)</option>
                        {{#each params.getRngDuration}}
                            <option value="{{@index}}">{{this}}</option>
                        {{/each}}
                    </select>        
                </div>
            </div>
            <div class="fmGp">
                <div class="fmLbl">Salary Range*:</div>
                <div class="fmInp">
                    <select id="inSalary" name="inSalary">
                        <option value="">(select)</option>
                        {{#each params.getRngSalary}}
                            <option value="{{@index}}">{{this}}</option>
                        {{/each}}
                    </select>        
                </div>
            </div>
            <div class="fmGp">
                <div class="fmLbl">Your race/ethnicity:</div>
                <div class="fmInp">
                    <select id="inEthnic" name="inEthnic">
                        <option value="">(decline)</option>
                        {{#each params.getRngEthnic}}
                            <option value="{{@index}}">{{this}}</option>
                        {{/each}}
                    </select>        
                </div>
            </div>
            <button id="btnEmail" type="submit">Submit</button>
        </form>
    </section>
</article>
